
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  nav {
    background-color: #444;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav .logo img {
    max-width: 50px;
  }
  
  nav .profile img {
    border-radius: 50%;
    max-width: 40px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .card {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.015);
  }
  
  .card h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .card p {
    color: #666;
    margin-bottom: 15px;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .button-container a {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button-container a:hover {
    background-color: #45a049;
  }
        
          /* CSS for the logo */
#logo {
    width: 50px; /* Adjust the width as needed */
    border-radius: 10px;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Make the image a block element */
    margin: 0 auto; /* Center the image horizontally */
    margin-top: 10px; /* Adjust top margin as needed */
    /* Add any other styles as needed */
}
